.card-base {
  display: flex;
  flex-direction: row;
  min-width: 35vw;
  max-width: 50vw;
  height: 10vw; 
  border-radius: 1vw;
  color: var(--dark-black);
  filter: drop-shadow(0 0 4px var(--shadow-black));
  background: linear-gradient(90deg, rgba(254, 149, 50, 0.8) 0%, rgba(235,203,24,0.8) 50%, rgba(254,147,50,0.8) 100%);
  margin: 7vw 0vw 0vw 0vw;
}

.card-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3vw;
  padding-left: 1vw;
  padding-top: 2vw;
}

.card-data .card-title {
  font-size: 1.05rem;
  font-family: AmazonEmberFontMedium;
}

.card-data .card-stats {
  font-size: 0.9rem;
  font-family: AmazonEmberFontRegular;
}

.image-base {
  cursor: pointer;
  overflow: hidden;
  filter: saturate(80%);
  padding-left: 1.5vw;
  margin-top: -5.5vw;
  transition: 0.325s ease-in-out;
}

.image-base img {
  object-fit: cover;
  width: 9vw;
  border-radius: 1vw;
  filter: drop-shadow(0 0 4px var(--shadow-black));
}

.image-base:hover,
.image-base:focus {
  margin-top: -6vw;
}